/* Сброс стандартных стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Базовые настройки страницы */
body {
  font-family: 'Raleway', sans-serif;
  min-width: 1100px;
}

/* Общие стили для ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Общие стили для списков */
ul, ol {
  list-style: none;
}

/* Общие стили для кнопок */
button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}